*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    width: 100%;
    height: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(imagens/taverna.svg);
    width: 100vw;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
}
#cardapio{
    background-color: #371559; 
    display: block;
    width: 60%;
    margin: auto;
    padding: 0;
    border-radius: 15px;
    border: solid 2px #291240;
    border-bottom: solid 10px #291240;
}
#cabeca{
    display: flex;
    background-color: #371559;
    padding: 20px;
    font-family: 'MedievalSharp', cursive;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: solid 10px #291240;
    margin-top: 0;
}
#titulo{
    font-size: 45px;
    text-align: center;
    margin: auto;
    padding: auto;
}
input{
    color: white;
    background-color: #7E5E8C;
    width: 50px;
    height: 50px;
    padding: 0;
    font-size: 30px;
    text-align: center;
}
input::placeholder{
    text-align: center;
    color: white;
}
/* css que tava no js */
.linha{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    /* border: solid 2px #7E5E8C;   
    border-radius: 5px; */ 
    /* borda para teste */
    border-bottom: solid 3px #7E5E8C;
    display: flex;
    justify-content: center;
    }
.coluna-1{
    height: auto;
    width: auto;
    padding: auto;
    margin: auto;
    border: solid 3px #291240;
    border-radius: 20px;
}
.coluna-2{
    width: 40%
}
.coluna-3{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: block;
    color: white;
    font-size: 15px;
}
#descricao{
    color: burlywood;
}
.texto-produtos{
    color: #FFF;
}

/* CSS da pagina do carrinho */
#carrinho{
    position: fixed;
    bottom: 20px;
    left: 47vw;
    width: 90px;
    height: 90px;
    border: 3px solid #56405f;
    border-radius: 50%;
    background-color: #7E5E8C;
}
#imgCarrinho{
    padding: 0;
    margin: 3px 0 0 5px;
    width: 65px;
    height: 65px;
}
#pagar{
    position: fixed;
    bottom: 20px;
    left: 47vw;
    width: 90px;
    height: 90px;
    border: 3px solid #56405f;
    border-radius: 50%;
    background-color: #7E5E8C;
}
#imgPagar{
    padding: 0;
    margin: 0;
    width: 65px;
    height: 65px;
}
/* CSS div flutuante */
#pagamentos{
    display: none;
    position: relative;
    width: 300px;
    height: 200px;
    border: 2px solid rgb(149, 68, 224);
    background-color: #7E5E8C;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    top: -20em;
    border-radius: 20px;
}
#botoes{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}
#X{
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
    position: relative;
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 0;
}
#pix{
    position: relative;
    max-width: 60px;
    max-height: 60px;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    background-color: blueviolet;
    border: 2px solid rgb(149, 68, 224);
}
#cartao{
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    background-color: blueviolet;
    border: 2px solid rgb(149, 68, 224);
}
#dinheiro{
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    background-color: blueviolet;
    border: 2px solid rgb(149, 68, 224);
}
#desconto{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: white;
}