* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif;
}

#header{
    display: flex;
    color: blueviolet;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: black;
    border-radius: 20px;
}

.lanches{
    width: 1000;
    margin: 0;
}

body{
    background-color: rgb(41, 41, 41);
}
