body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    /* os 2 adiciona o quebramento de linha nos textos caso seja redimencionado o site */
    word-wrap: break-word;
    overflow-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
}
.lanches{
    width: 1000;
    margin: 0;
}
.wrapper{
    width: 100%;
    /* 0 encima e embaixo e auto na esquerda e na direita */
    margin: 0 auto;
}
main{
    display: block;
    background-color: #fff;
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}
section.module p{
    margin-bottom: 40px;
}
section.module:last-child{
    margin-bottom: 0;
}
section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}
section.module.content{
    padding: 40px 0;
    background-color: #ffeca7;
}
section.module.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000 100% );
}

section.module.parallax-1{
    background-image: url(imagens/taverna.jpg);
}
section.module.parallax h1{
    color: #FFF;
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}
@media all and (max-width: 820px) {
    section.module h2 {
      font-size: 32px;
    }
    .module h2, p{
      padding: 0 8px;
    }
  
    .container{
      margin:0;
      padding:0;
    }
  
    section.module.parallax h1 {
      font-size: 36px;
    }
}
.caneca{
    height: 30vh;
    width: 30vw;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(201, 187, 187, 0.6);
    --animation-color: #8806df;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }